@import url('https://fonts.googleapis.com/css?family=Allerta Stencil');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 15px/1.5 Allerta Stencil;
    background-color: #FeFeFe;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    background-image: linear-gradient(to right, #2a2a72, #009ffd);
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 86%;
    height: 100%;
}

.icon_section {
    width:100%;
    position:absolute;
    top:0;
    margin:0;
    padding:0;
    text-align:center;
    color:#eeeeee;
}

.icon_section img {
    width:70px;
    margin-left: auto;
    margin-top:20px;
    margin-right: auto;
    display: block;
}

.icon_section h3 {
    padding:0;
    margin:0;
}

.nav_section {
    position: absolute;
    margin-top: 130px;
    right: 0;
}

.nav_section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_section li {
    text-align-last:center;
    margin-top:30px;
}

.nav_section a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

.current {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(255,255,255,0.8);
}

.current a {
    color:#009ffd;
}

.clock_section {
    top: 0;
    left: 0;
    width: 50%;
    height: 8%;
    display: flex;
    position: absolute;
    background: #f0f0f0;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
}

.clock_section #clock {
    font-size: 20px;
    color: #444444;
    text-align: left;
    margin-top:10px;
    margin-left:15px;
}

.punch_section {
    top: 0;
    right: 0;
    width: 50%;
    height: 8%;
    position: absolute;
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
}

.punch_section h3 {
    float: right;
    height: 100%;
    margin: auto;
    color: #444444;
    margin-top: 18px;
    margin-right:8px;
    font-size:14px;
    font-weight:200;
}

.punch_section img {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 10px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

#check_in {
    color: #ffffff;
    float: right;
    width: 80px;
    margin-top: 12px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    border-width: 0;
    background-color: #009ffd;
    box-shadow: 0 3px 6px 0 rgba(0,159,253,0.4);
}

#check_out {
    color: #ffffff;
    float: right;
    width: 80px;
    margin-top: 12px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    border-width: 0;
    background-color: #009ffd;
    box-shadow: 0 3px 6px 0 rgba(0,159,253,0.4);
}

#logout {
    color: #ffffff;
    float: right;
    width: 80px;
    margin-top: 12px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 16px;
    font-size: 12px;
    text-align: center;
    border-width: 0;
    background-color: #F44336;
    box-shadow: 0 3px 6px 0 rgba(244,67,54,0.4);
}

.profile_section,
.employees_section,
.attendance_section {
    bottom: 0;
    width: 100%;
    height: 92%;
    position: absolute;
}

.profile_card {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 350px;
    transition: 0.3s;
    position: absolute;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.profile_card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    display: block;
    margin: 0 auto;
    background-color: #eeeeee;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.profile_details {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom:5px;
}

.profile_details h3 {
    margin: 0;
    padding: 0;
    font-size:20px;
    padding-top:10px;
    margin-bottom:10px;
}

.profile_details p {
   margin:0;
   padding:0;
   padding:2px;
}

#edit_btn {
    width: 100%;
    border: none;
    color:#ffffff;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ef5350;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    font-size:12px;
    font-weight:bold;
}

.dialog {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: initial !important;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.dialog_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 24px;
    width: 65%;
    height: 80%;
    overflow-y: auto;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dialog_content::-webkit-scrollbar {
    display: none;
}

.dialog_content {
    -ms-overflow-style: none;
}

.invalid input:required:invalid {
    background: #BE4C54;
}

.invalid input:required:valid {
    background: #17D654;
}

.list_header {
    width:100%;
    height:50px;
    margin-bottom:30px;
}

.list_header h3 {
    position:absolute;
    top:0;
    left:0;
    margin-top:16px;
    margin-left:24px;
    color:#009ffd;
    font-size:24px;
}

.list_header button {
    top: 0;
    right: 0;
    border:none;
    background-color: #f0f0f0;
    margin-top: 16px;
    margin-right: 28px;
    position: absolute;
    border-radius: 6px;
    padding-left: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    font-size: 12px;
    transition: 0.3s;
    color:#009ffd;
    box-shadow: 0 2px 4px 0 rgba(0,159,253,0.2);
}

.employee_item {
    width: 90%;
    display: flex;
    margin-top: 15px;
    transition: 0.3s;
    align-self: center;
    margin-left: 55px;
    border-radius: 10px;
    background-color:#f5f5f5;
    box-shadow: 0 3px 6px 0 rgba(0,159,253,0.2);
}

.employee_item:hover,
.attendance_item:hover,
.list_header button:hover {
    box-shadow: 0 4px 16px 0 rgba(0,159,253,0.2);
}

.employee_item img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
}

.employee_item h3 {
    width:200px;
    font-size:16px;
    margin-left:20px;
    margin-top:12px;
}

.employee_item p {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 12px;
    color: #444444;
    text-align: center;
}

#role {
    width:100px;
}

#dept {
    width:150px;
}

#email {
    width:250px;
}

.attendance_item {
    width: 90%;
    display: flex;
    margin-left: 55px;
    text-align: center;
    margin-top: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,159,253,0.2);
}

.attendance_item p {
    margin-top: 12px;
    color: #444444;
}

.attendance_item #name {
    width: 250px;
}

.attendance_item #email {
    width: 250px;
}

.attendance_item #department {
    width: 250px;
}

.attendance_item #status {
    width:200px;
}

.active_status {
    border:0;
    width: 15px;
    height: 15px;
    padding: 1px;
    margin-top: 15px;
    border-radius: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fefefe;
    border-radius: 20px;
    border: 1px solid black;
}

th {
    text-align:center;
    border-bottom: 1px solid black;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom:5px;
}